.row {
  max-width: $grid-width;
  display: flex;
  margin: 0 auto;

  @include respond(tab-port) {
    flex-direction: column;
    max-width: 50rem;
    padding: 0 3rem;
  }

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }
  }

  & > * {
    flex: 1;
  }

  @for $i from 1 through 4 {
    .col-span-#{$i} {
      flex: $i;
    }
  }
  div[class*="col-span-"]:not(:last-child) {
    margin-right: $gutter-horizontal;

    @include respond(tab-port) {
      margin-right: 0;
      margin-bottom: $gutter-vertical-small;
    }
  }
}
